{% set events = page.collection() %}

<ul class="termine">
  {% for event in events %}
    {% set config = attribute(event.header, 'simple-events') %}

    {% if date(config.start) > date() %}
      {% if config.end is defined and config.end != config.start %}
        {% set eventdate = config.start|date('M j') ~ ' – ' ~ config.end|date('M j, Y') %}
      {% else %}
        {% set eventdate = config.start|date('M j, Y') %}
      {% endif %}

      {% if config.link is defined %}
        {% set eventtext = linkit(event.title, config.link) %}
      {% else %}
        {% set eventtext = event.title %}
      {% endif %}

      <li><span class="eventdate">{{ eventdate }}</span>{{ eventtext }}</li>
    {% endif %}
  {% endfor %}
</ul>
